
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  cursor: default;
  font-family: sans-serif;
  font-size: 1.1rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  margin: 0;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

textarea {
  overflow: auto;
}

details,
main {
  display: block;
}

pre {
  margin: 0;
}

summary {
  display: list-item;
}

template {
  display: none;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-center-center {
  align-items: center;
  justify-content: center;
}
