
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-family: 'Segoe UI';
  font-size: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  margin: 0;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

textarea {
  overflow: auto;
}

details,
main {
  display: block;
}

pre {
  font-family: 'Consolas';
  margin: 0;
}

summary {
  display: list-item;
}

template {
  display: none;
}

.auto-hide-scroll {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.hide-scroll {
  -ms-overflow-style: none;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex {
  flex: 1;
}

.flex-col, .vbox {
  display: flex;
  flex-flow: column wrap;
}

.flex-row, .hbox {
  display: flex;
  flex-flow: row wrap;
}

.flex-center-center {
  align-items: center;
  justify-content: center;
}
